functions-framework==3.*
flask==3.0.*
google-cloud-firestore==2.14.*
google-cloud-aiplatform==1.42.*
PyGithub==2.1.*
google-api-python-client==2.116.*
google-auth==2.27.*
google-auth-httplib2==0.2.*
python-telegram-bot==20.7
